# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
!/node_modules
node_modules/*

!/node_modules/@angular-devkit
node_modules/@angular-devkit/*

!node_modules/@angular-devkit/build-angular
node_modules/@angular-devkit/build-angular/*

!node_modules/@angular-devkit/build-angular/src
node_modules/@angular-devkit/build-angular/src/*

!node_modules/@angular-devkit/build-angular/src/angular-cli-files
node_modules/@angular-devkit/build-angular/src/angular-cli-files/*

!node_modules/@angular-devkit/build-angular/src/angular-cli-files/models
node_modules/@angular-devkit/build-angular/src/angular-cli-files/models/*

!node_modules/@angular-devkit/build-angular/src/angular-cli-files/models/webpack-configs
node_modules/@angular-devkit/build-angular/src/angular-cli-files/models/webpack-configs/*

!node_modules/@angular-devkit/build-angular/src/angular-cli-files/models/webpack-configs/browser.js


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
