<div class="row" style="padding-top: 2%; padding-bottom: 2%">
  <div style="margin: auto;">
    <h1>Meet the E-Board</h1>    
  </div>
</div>
<div class="row" *ngIf="loading">
  <img src="src/app/includes/images/loading.gif" height="300" width="300" style="margin: auto;">
</div>
<div style="margin-left: 5%; margin-right: 5%" *ngIf="!loading">
  <!--Grid row-->
  <div class="row"> 
    <div class="col" *ngFor="let eboard of eboardList | slice:0:3 | sort:'order'">
      <mdb-card>
        <div class="avatar mx-auto">
          <img src="src/app/includes/images/eboard/{{eboard.eboardImage}}" class="rounded-circle" width="250px" height="250px">
        </div>
        <mdb-card-body>
          <mdb-card-title>
            <h4>{{eboard.name}}</h4>
            <h6>{{eboard.position}}</h6>
          </mdb-card-title>
          <hr>
          <p>
            <i class="fas fa-quote-left"></i>{{eboard.description}}<i class="fas fa-quote-right"></i></p>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div> 
</div> 

<div style="margin-left: 5%; margin-right: 5%; margin-top: 25px;" *ngIf="!loading">
    <div class="row"> 
      <div class="col" *ngFor="let eboard of eboardList | slice:3:6">
        <mdb-card>
          <div class="avatar mx-auto">
            <img src="src/app/includes/images/eboard/{{eboard.eboardImage}}" class="rounded-circle" width="250px" height="250px">
          </div>
          <mdb-card-body>
            <mdb-card-title>
              <h4>{{eboard.name}}</h4>
              <h6>{{eboard.position}}</h6>
            </mdb-card-title>
            <hr>
            <p>
              <i class="fas fa-quote-left"></i>{{eboard.description}}<i class="fas fa-quote-right"></i></p>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
</div>