<!-- Cards for Events -->
<div class="card" *ngFor="let event of events">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <h4 style="padding-left: 11px">{{ event.name }}</h4>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <p style="float: left">{{ event.desc }}</p>
        </div>
        <div class="col-sm-4">
          <app-event-register-modal-component></app-event-register-modal-component>
        </div>
      </div>
    </div>
  </div>
