<navbar class="navbar navbar-expand-lg navbar-light" style="background-color: white">

  <a class="navbar-brand-sm" [routerLink]="['home']"><img [src]="images[0]" alt="nav logo" height="55em" width="55em"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggle">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['home']" href="home">Home</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['events']" href="events">Events</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['news']" href="news">News</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['eboard']" href="eboard">E-Board</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['apply']" href="apply">Apply for Membership</a>
      </li>
      <li *ngIf = "this.utilityService.loggedIn" class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['admin']" href="admin">Admin Page</a>
      </li>
    </ul>
    <div *ngIf = "this.utilityService.loggedIn" class="nav navbar-nav navbar-right">
      <button type="button" class="btn btn-primary navbar-btn" (click)='logout()' [routerLink]="['home']" href="home">
        <span class="glyphicon glyphicon-plus"></span>
        Logout
      </button>
    </div>
    <div *ngIf = "!this.utilityService.loggedIn" class="nav navbar-nav navbar-right">
      <button type="button" class="btn btn-primary navbar-btn" [routerLink]="['login']" href="login">
        <span class="glyphicon glyphicon-plus"></span>
        Admin Login
      </button>
    </div>
  </div>
</navbar>
