 <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="events">Events </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="news">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="eboard">E Board</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="apply">Apply for Membership</a>
          </li>
        </ul>
      </div>
      <!-- Login Button for Modal -->
      <app-loginModal-component></app-loginModal-component>
    </nav>
  </div> <!-- End Nav -->