<!-- Cards for Events -->
<div class="card" *ngFor="let new of news">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <h4 style="padding-left: 11px">{{ new.title }}</h4>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <p style="float: left">{{ new.info }}</p>
        </div>
        <div class="col-sm-4">
          <button class="btn btn-primary" style="float: right"><a href="{{ new.link }}">Learn More</a></button>
        </div>
      </div>
    </div>
  </div>