<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img [src]="images[0]" alt="Random first slide" height="{{innerHeight}}" width="{{innerWidth}}">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption" style="padding-bottom: 150px; font-size: 30px; font-family: Arial, Helvetica, sans-serif">
      <h1 class="h1-responsive" style="text-shadow: 2px 2px #000">Welcome to the Rock Climbing Club!</h1>
      <h1 class="h1-responsive" style="text-shadow: 2px 2px #000">at Qunnipiac University</h1>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img [src]="images[1]" alt="Random second slide" height="{{innerHeight}}" width="{{innerWidth}}">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img [src]="images[2]" alt="Random third slide" height="{{innerHeight}}" width="{{innerWidth}}">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
