/* You can add global styles to this file, and also import other style files */

.content {
  min-height: calc(95vh - 70px);
}
.footer {
  height: 100px;
}

body {
  overflow-x: hidden;
}

html {
	scroll-behavior: smooth;
}