<div class="box">
  <div style="background-color: white;">

    <app-home-carousel></app-home-carousel>
    
    <div class="row" style="margin-top: 4%; margin-bottom: 2%">
      <div style="margin: auto;">
        <h3><i>Climbers of all Levels Welcome</i></h3>
      </div>
    </div>

    <div class="card-deck" style="margin-top: 2%; margin-bottom: 2%; padding-left: 2%; padding-right: 2%">
        <!-- Card -->
        <mdb-card>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <h4>About Us</h4>
            </mdb-card-title>
            <!--Text-->
            <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
              content. Some quick example text to build on the card title and make up the bulk of the card's
              content.Some quick example text to build on the card title and make up the bulk of the card's
              content.Some quick example text to build on the card title and make up the bulk of the card's
              content.Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      </div>

    <div class="card-deck" style="margin-top: 2%; margin-bottom: 2%; padding-left: 2%; padding-right: 2%">
      <!-- Card -->
      <mdb-card>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Find Us On...</h4>
          </mdb-card-title>
          <!--Text-->
          <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>

      <!-- Card -->
      <mdb-card>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Gallery</h4>
          </mdb-card-title>
          <!--Text-->
          <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </mdb-card-text>
          <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>