 <div class="box" style="background-image: url('../images/wallpaper_2.jpg')" ng-controller="indexController">
    <div class="container" ng-controller="indexController" style="background-color: white;">

      <app-home-carousel></app-home-carousel>

        <div class = row>
          <div class = "col-sm-7">
            <div>
              <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                  <a (click)="selectClass(1)" ng-class="{active: classSelected == 1}" class="nav-link active" >General Info</a>
                </li>
                <li class="nav-item">
                  <a (click)="selectClass(2)" ng-class="{active: classSelected == 2}" class="nav-link" >Current E-Board</a>
                </li>
                <li class="nav-item">
                  <a (click)="selectClass(3)" ng-class="{active: classSelected == 3}" class="nav-link" >Meeting Info</a>
                </li>
                <li class="nav-item">
                  <a (click)="selectClass(4)" ng-class="{active: classSelected == 4}" class="nav-link" >Contacts</a>
                </li>
              </ul>
            </div>
            <div class="event-overview" ng-repeat="section in displayedArr">
              <div style="text-align: center;">
                <h3></h3>
                <p></p>
                <div ng-if="classSelected == 2">
                  <ul>
                    <li>President: </li>
                    <li>Vice President: </li>
                    <li>Treasure: </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class = "col-sm-5">
            <div id="calendar" data-provide="calendar"></div>
          </div>
      </div>
    </div>
  </div>